<div id="profcontainer">
	
	<div id="proflinks">
			<h3>Username</h3>
			<ul id="prolinks">
				<li>Youttube</li>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Instagram</li>
			</ul>
		</div>
	<div id="profcontent">
		<div id="profheader">
		<h1>Username</h1>
		</div>
		<div id="profinfo">
			<p>Info about yourself</p>
			<p>more infor</p>
			<p>more infor</p>
		</div>
		<div id="profuploads">
			
			Uploads
		</div>
	</div>
</div>