// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profheader {
	padding: 10px;
	background-color: white;
	text-align: right;
	color: Grey;
	

}


#profinfo {
	background-color: white;
	padding: 5px;
	border-bottom: 1px solid grey;
}

#profuploads{
background-color: white;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px
}

ul#prolinks li{
	display:inline;
}

